@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@600&family=Open+Sans&display=swap');
body{
    margin: 0;
}
h1, h2, .header1, .header2{
    font-family: 'Merriweather', serif; 
}
p{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
/* шапка */
header{
    display: flex;
    justify-content: space-between;
}
.lightTheme header{
    background-color:whitesmoke;
    color: #080a0f;
}
.darkTheme header{
    background-color: #333;
    color: #CFD8DC;
}
text1{
    padding: 5px 5px 5px 5px;
}
.logo{
    padding: 20px;
    width: 40vw;
}
.logoImg{
    float: left; 
    margin-right: 20px;
    margin-left: 40px;
    width: 20vw;
}
.header1{
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.header2{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

  a {
    font-family: "Open Sans", sans-serif;
    text-decoration: none; 
    font-size: 14px;
}
.lightTheme a{
    color: white;
}
.darkTheme a{
    color: white;
}
.navA{
    margin-right: 50px;
}
.lightTheme .navA{
    color: azure;
}
.darkTheme .navA{
    color: azure;
}

main {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 122px;

}
.lightTheme main{
    color: #aeb11d;
    background-image: url(images/Gubka-eda.jpg);
}
.darkTheme main{
    color: #aeb11d;
    background-image: url(images/spongebob.jpg);
}
.articlecool{
        width: 30vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: calc(100vh-100px);
        text-align: center;
}
.mainTextBlock{
    width: 50vw;
    line-height: 1.3em;
    
}
.title {
    
    text-align: center;
}
/* команды */
article{
    width: 30%;
    
        display: flex;
        justify-content: space-evenly;
flex-direction: column;
text-align: center;
}

footer{
    padding: 20px;
    margin-top: 1vh;
}
.lightTheme footer{
    background-color: #333;
}
.darkTheme footer{
    background-color: #333;
}


section{
    display:flex;
    justify-content: space-evenly;
}

.f1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lightTheme .f1{
    color: dark;
}
.darkTheme .f1{
    color: azure;
}
@keyframes kartinka{
    100%{transform: scale(1.2);}
}
.photo1{
    width: 10vw;
    padding: 20px 10px 20px 0px;
    background-size: cover;
    background-position: center;

}
.photo1:nth-child(1):hover{
    animation: kartinka 1s 1 both ease-out;
}
.photo1:nth-child(2):hover{
    animation: kartinka 1s 1 both ease-out;
}
.photo1:nth-child(3):hover{
    animation: kartinka 1s 1 both ease-out;
}
.photo1:nth-child(4):hover{
    animation: kartinka 1s 1 both ease-out;
}
.photo1:nth-child(5):hover{
    animation: kartinka 1s 1 both ease-out;
}

.lightTheme li{
    color: #080a0f;
}
.darkTheme li{
    color: #080a0f;
}
/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  /* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: rgb(13, 71, 148);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #333;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  a.menu__item:hover{
    color: red;
}
  @media (min-width: 320px) and (max-width:820px) {
      section{
          flex-direction: column;
      }
      .poidet{
          font-size: 20;
      }
    
      
    
}


#map {
    height: 600px;
    width: 80%;
    margin: 0 auto;
}
@media (min-width: 700px) and (max-width:820px) {
    main{
        background-position: right;
    }
    article{
        margin: auto;
    }
    .photo1{
        width: 20vw;
    }
    
}
@media (min-width: 451px) and (max-width:699px) {
    main{
        background-position: right;
    }
    article{
        margin: auto;
    }
    .photo1{
        width: 30vw;
    }
}
@media (min-width: 300px) and (max-width:450px) {
    main{
        background-position:right;
    }
    article{
        margin: auto;
    }
    .photo1{
        width: 35vw;
    }
}
.center{
    text-align: center;
}
.Norm{
    padding-right: 20px;
    flex-direction: column;
}

a.Norm:hover{
    color: red;
}
a.Norm:hover{
    color: red;
}
a.navA:hover{
    color: red;
}
a.navA:hover{
    color: red;
}

.photo2{
    width: 10vw;
    padding: 10px 10px 10px 135px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.text2{
    padding: 5px 5px 5px 5px;
}
article.articlecool{
    margin: auto;
}
.Timer {
    font-size: 24px;
  }

  /* светлая тема */
.lightTheme {
    background-color: #fff;
    color: #000;
}
.darkTheme{
    background-color: #333;
    color: azure;
}
input .themeButton{
    width: 15vw;}
.lightTheme input.themeButton{
    background-color: #333;
    color: azure;
}
.darkTheme input.themeButton{
    background-color: azure;
    color: #333;
}

.scrollpropro{
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: fixed;
    width: calc(100vw - 6em);
    align-items: end;
}


.scrollpro{
    display: flex;
    padding: 2em;
}
